
1\.12\.2/gradle/

1\.12\.2/build\.gradle

1\.12\.2/CREDITS\.txt

1\.12\.2/forge-1\.12\.2-14\.23\.5\.2772-changelog\.txt

1\.12\.2/gradlew

1\.12\.2/gradlew\.bat

1\.12\.2/LICENSE-Paulscode IBXM Library\.txt

1\.12\.2/gradle\.properties

1\.12\.2/LICENSE-Paulscode SoundSystem CodecIBXM\.txt

1\.12\.2/LICENSE\.txt

1\.12\.2/README\.txt
